{% extends 'main.html' %}
{% load static %}

{% block content %}

  <div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="">
          <img src="{% static 'images/icon.svg' %}" alt="icon" />
        </a>
        <h3>Exam Registeration</h3>
      </div>

      <form action="{% url 'register-exam' %}" method="POST" class="form auth__form">
        {% csrf_token %}
        {% for field in exam_form %}
            <div class="form__field">
                <label for="formInput#text">{{field.label}}</label>{{field}}
            </div>
        {% endfor %}
        
        <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Register" />
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

</html>