{% extends 'main.html' %}
{% load static %}

{% block content %}

<section class="projectsList">
    <div class="container">
        <div class="grid grid--three">
        {% for test in tests %}
            <div class="column">
                <div class="card project">
                    <a href="{% url 'take-test' test.id %}" class="project">
                       
                        <div class="card__body">
                            <h3 class="project__title">{{test.name}}</h3>

                            <p><a class="project__author">By
                                    {{test.created_by.name}}</a>
                            </p>
                           
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>





{% endblock content %}