{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="content-box">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{details.profile_image.url}}" />
              <h2 class="dev__name">{{details.name}}</h2>
              <p class="dev__title">Recruiter</p>
              <div class="devInfo my-top-three">
                <h3 class="devInfo__title">Company</h3>
                <p class="devInfo__about">
                  <center>{{details.company_name}}</center>
                </p>
              </div>
              <div class="devInfo my-top-three">
                <h3 class="devInfo__title">Bio</h3>
                <p class="devInfo__about">
                  {{details.bio}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="grid grid--three">
      {% for i in exam %}
          <div class="column">
              <div class="card project">
                  <a href="" class="project">
                      <div class="card__body">
                          <h3 class="project__title">{{i.exam}}</h3>

                          <p>by {{i.name}}
                          </p>
                         
                      </div>
                  </a>
              </div>
          </div>
      {% endfor %}
      </div>
  </div>
  </main>
{% endblock content %}
